*{
    font-family: OpenSans;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: normal;
}
#content{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 100%;
    background: url(/assets/img/ribon-banner.png) no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    padding-bottom: 30px;
}
.header-content{
    width: 100%;
    height: 100%;
    padding: 3.661% 10.25% 0;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    padding: 4.605% 2.763% 0;
    font-size: 3.25rem;
    font-weight: 800;
    letter-spacing: -1.93px;
    text-align: center;
    color: #ffffff;
}
.heading-p {
    margin: 1.842% 10.866% 2.7636%;
    font-size: 1.3125rem;
    line-height: 1.52;
    text-align: center;
    color: #ffffff;
}
.sign-up-button{
    margin: 0 39.412% 26px;
    border-radius: 2.375rem;
    background-color: #ffffff;
}
.sign-up-button span{
    width: 100%;
    display: block;
    padding: 6.31% 0;
    font-size: 1.125rem;
    font-weight: 800;
    text-align: center;
    color: #e94555;
    text-transform: uppercase;
}
.main{
    margin: 3.075% 10.25% 0;
    overflow: hidden;
}
.flex-box-container{
    width: 100%;
    display: flex;
}
.mob,.mobile-arrow-left,.mobile-arrow-right{
    display: none;
}
.flex-box-content{
    /* width: 20.125rem; */
    flex: 1 1 20%;
}
.flex-box-content-img{
    width: 100%;
    object-fit: contain;
}
.arrow{
    display: flex;
    margin: 0 16%;
}
.arrow-content-positioner{
    position: relative;
}
.arrow-content{
    flex: 1 0 42%;
}
.arrow-content-positioner p{
    position: absolute;
    width: 100%;
    top: 35.23%;
    font-size: 1rem;
    text-align: center;
    color: #4c4c4c;
}
.arrow-content-positioner span.text-style-1 {
    font-weight: 800;
    color: #e94555;
}
.arrow-content-image {
    width: 100%;
    object-fit: contain;
}
.main-content p{
    font-size: 1.125rem;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4c4c4c;
    margin: 3.684% 0 4.605%;
}
.ctr{
    width: 100%;
    height: 100%;
    display: flex;
}
.left-div{
    margin: 0 36.0128% 0 0;
}
.left-content-head {
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.78;
    color: #4c4c4c;
}
.left-content-paragraph{
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.78;
    color: #4c4c4c;
    margin: 1.44% 0 0 0;
    
}
.right{
    box-sizing: border-box;
    height: 16.625rem;
    object-fit: contain;
    /* border: solid 1px #d4d4d4; */
    background-color: #ffffff;
}
.table{
    height: 100%;
    width: 100%;
    margin: 0;
}
.sign-up-button-2{
    width: 66.2%;
    border-radius: 38px;
    background-color: #e94555;
    margin: 8.635% 0 0;
}
.sign-up-button-2 span{
    font-size: 1.125rem;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    padding: 6% 0;
}
.mobile-button{
    display: none;
}
.snapshot-title{
    margin: 4.605% 0 0;
}
.snapshot-title p{
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.78;
    text-align: center;
    color: #4c4c4c;
}
.snapshot-title h2{
    display: none;
}
.snapshot{
    margin: 2.763% 15.782% 4.605%;
    text-align: center;
}
.Chart {
  width: 100%;
  object-fit: contain;
}
.Chart {
    object-fit: contain;
}
.Chart-2{
    display: none;
}
.keep-good-company {
    height: 28.125rem;
    background-color: #f7f8f9;
    position: relative;
}
.keep-good-company> p{
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 1.33;
    text-align: center;
    color: #4c4c4c;
    padding: 2.929% 0 2.197%;
}
.container{
    position: absolute;
    left: 0;
    top: 24.5%;
    padding: 0;
    margin: 0;
    width: 100%;
}
.carousel-box {
    margin: 0 22.914%;/*22.914%*/
    height: 30.3125rem;
    border-radius: 5px;
    box-shadow: 1px 3px 20px -2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.carousel-box-header{
    font-size: 1.3125rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 8.097% 0 0.8097%;
    text-align: center;
    color: #4c4c4c;
}
.carousel-box-link {
    opacity: 0.7;
    font-size: 1.3125rem;
    font-weight: normal;
    text-align: center;
    color: #4c4c4c;
}
.carousel-box-image{
    text-align: center;
    margin: 4.0485% 0;
}
.Group-5 {
  object-fit: contain;
}
.carousel-box-content{
  margin: 0 12.838%;
  font-size: 1.125rem;
  line-height: 1.67;
  text-align: center;
  color: #4c4c4c;
}


/*carousel styles*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
.carousel-indicators li{
    background: #eee;
}
.carousel-indicators li.active{
    background: #555;
}
/*carousel ends*/
.sign-up-button-3{
    margin: 28.13vh 41.6% 2.929%;
    border-radius: 38px;
    background-color: #e94555;
    max-width: 230px;
}
.sign-up-button-3 p{
    padding: 6.32% 0;  
    font-size: 1.125rem;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.terms-and-policies{
    background: #f7f8f9;
}
.terms-and-policies h2{
    padding: 1.611% 43.4% 0;
}
.logo-ybnca-copy-5 {
    object-fit: contain;
}
.terms-and-policies p{
    padding: 1.245% 30.8% 1.611%;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.09;
    color: #474747;
}

@media screen and (max-width:1100px){
    .heading{
        padding: 4.605% 0% 0;
        font-size: 3rem;
        line-height: 1.3;
    }
    .heading-p{
        margin: 2.842% 0% 2.7636%;
        line-height: 1.3;
    }
    .sign-up-button{
        margin: 0 37.412% 26px;
    }
    .main{
        margin: 3.075% 6.25% 0;
    }
    .arrow-content-positioner p{
        top: 8.23%;
        padding: 0 3% 0 2%;
    }
    .left-div{
        margin: 0 20% 0 0;
    }
    .left-content-head{
        line-height: 1.4;
    }
    .left-content-paragraph{
        line-height: 1.4;
        margin: 4.44% 0 0 0;
    }
    .sign-up-button-2{
        width: 56%;
    }
    .right{
        height: initial;
    }
    .sign-up-button-2 span{
        font-size: 0.9rem;
    }
    .snapshot{
        margin: 2.763% 0 4.605%;
    }
    .snapshot-title p{
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .keep-good-company>p{
        font-size: 3rem;
    }
    .carousel-box{
        margin: 0 13%;
    }
    .carousel-box-content{
        margin: 0 10%;
    }
    .sign-up-button-3{
        margin: 21.115% 39.6% 2.929%;
    }
    .sign-up-button-3 p{
        font-size: 1.1rem;
    }
    .terms-and-policies h2{
        padding: 1.611% 38.4% 0;
    }
    .terms-and-policies p{
        padding: 1.245% 22.8% 1.611%;
    }
}
@media screen and (max-width:786px){
    .head-image{
        width: 33%;
        margin-top: 4%;
    }
    .head-image img{
        width: 100%;
    }
    .heading{
        padding-top: 11.84%;
        line-height: 1.2;
        background: url(/assets/img/ribon-banner@3x.png) no-repeat;
        object-fit: contain;
        background-size: 100% 100%;
    }
    .heading-p{
        font-size: 1.25rem;
        margin: 5.842% 0% 9.842%;
        line-height: 1.2;
    }
    .sign-up-button{
        margin: 0 24.412% 40px;
    }
    .sign-up-button span{
        font-size: 1.2rem;
    }
    .main{
        margin: 8.075% 10% 0;
        position: relative;
    }
    .mobile-arrow-left{
        display: initial;
        position: absolute;
        left: -140px;
        top:17.64%;
        z-index: -1;
    }
    .mobile-arrow-right{
        display: initial;
        position: absolute;
        right: -120px;
        top: 34.22%;
        z-index: -1;
    }
    .mobile-image-left{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 100%;
    }
    .mobile-image-right{
        -webkit-transform: scaleX(-1) rotate(90deg);
        transform: scaleX(-1) rotate(90deg);
    }
    /* Arrow to make */
    i {
        border: solid red;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;  
    }
    .right-arrow {
        margin-top: 36.7%;
        margin-left: 49.5%;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .left-arrow {
        margin-left: 51.5%;
        margin-top: 36.7%;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .flex-box-container{
        flex-wrap: wrap;
    }
    .mob{
        display: block;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        color: #4c4c4c;
    }
    .mob span {
        font-weight: 800;
        color: #e94555;
    }
    .flex-box-content{
        margin: 3% 10%;
        height: 100%;
        flex: 1 0 52%;
    }
    .arrow{
        display: none;
    }
    .main-content p{
        margin-top: 13.37%;
        font-size: 1.2rem;
    }
    .ctr{
        flex-wrap: wrap;
    }
    .left-div{
        margin: 0;
    }
    .sign-up-button-2{
        display: none;
    }
    .right{
        height: 100%;
        margin: 10% 0 0 0;
    }
    .mobile-button{
        display: block;
        width: 50%;
        border-radius: 38px;
        background-color: #e94555;
        margin: 8.635% auto;
    }
    .mobile-button span{
        font-size: 1.125rem;
        font-weight: 800;
        color: #ffffff;
        text-transform: uppercase;
        width: 100%;
        display: block;
        text-align: center;
        padding: 6% 0;
    }
    .snapshot-title p{
        font-size: 1.2rem;
    }
    .snapshot-title h2{
        display: block;
        font-size: 1.125rem;
        font-weight: 800;
        color: #4c4c4c;
        width: 100%;
        margin: 5% auto;
        text-align: center;
    }
    .Chart{
        display: none;
    }
    .Chart-2{
        display: initial;
        object-fit: contain;
        width: 100%;
    }
    .keep-good-company{
        margin: 10% 0 0;
        height: 34.5rem;
    }
    .keep-good-company>p{
        font-size: 1.5rem;
        padding: 15% 0;
    }
    .container{
        top: 27%;
    }
    .carousel-box-link{
        font-size: 1.2rem;
    }
    .carousel-box-image{
        width: 18%;
        margin: 5% auto;
    }
    .Group-5{
        width: 100%;
    }
    .carousel-box-content{
        margin: 0 8%;
    }
    .carousel-box{
        height: 35.625rem;
    }
    .carousel-indicators{
        bottom: 30px;
    }
    .sign-up-button-3{
        margin: 50% auto 10%;
    }
    .terms-and-policies h2{
        padding: 1.611% 0 0;
        margin: 0 auto;
        text-align: center;
    }
    .terms-and-policies p{
        padding: 1.245% 18.8% 1.611%;
        text-align: center;
        margin: 5% auto 0;
    } 
}
@media screen and (max-width:599px){
    .mobile-arrow-left{
        top:13.64%;
    }
    .mobile-arrow-right{
        top: 29.22%;
    }
    .right-arrow {
        margin-left: 45.5%;
    }
    .left-arrow {
        margin-left: 56.3%;
    }

}
@media screen and (max-width:424px){
    .head-image{
        width: 40%;
        margin-top: 6%;
    }
    .heading{
        font-size: 1.75rem;
    }
    .heading-p{
        margin-top: 8%;
        margin-bottom: 12%;
    }
    .sign-up-button{
        margin: 0 18.412% 40px;
    }
    .sign-up-button span{
        font-size: 1rem;
    }
    .mobile-arrow-left{
        display: initial;
        position: absolute;
        left: -150px;
        top:13.64%;
        z-index: -1;
    }
    .mobile-arrow-right{
        display: initial;
        position: absolute;
        right: -150px;
        top: 29.22%;
        z-index: -1;
    }
    .mobile-image-left{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 100%;
    }
    .mobile-image-right{
        -webkit-transform: scaleX(-1) rotate(90deg);
        transform: scaleX(-1) rotate(90deg);
    }
    .flex-box-content{
        margin: 3% 3%;
    }
    .left-div{
        margin-top: 20%;
    }
    .right{
        margin-left: -8%;
        margin-right: -8%;
    }
    .mobile-button{
        width: 58%;
    }
    .mobile-button span{
        font-size: 1rem;
    }
    .snapshot-title p{
        font-size: 1.3125rem;
    }
    .carousel-box-image{
        width: 22%;
        margin-bottom: 10%;
    }
    .container{
        top: 20%;
    }
    .carousel-box-content{
        margin: 0 4%;
        line-height: 1.8;
        font-size: 1rem;
    }
    .carousel-indicators{
        bottom: 20px;
    }
    .terms-and-policies p{
        padding-bottom: 5%;
    }

    /* Arrow to make */
    i {
        border: solid red;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 2px;  
    }
      
    .right-arrow {
        margin-top: 37%;
        margin-left: 41%;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .left-arrow {
        margin-left: 56%;
        margin-top: 37%;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}